@charset "utf-8";
.field{
    width: 410px;
    height: 320px;
    background-size: contain;
    background-image: url(field.jpeg);
    background-repeat: no-repeat;
}
.field_tr{
    height: 50px;
    width: 300px;
}
.field_td{
    height:45px ;
    width: 134px;
    padding: 1px;
    text-align: center;

}


/* ↓参考 : https://gxy-life.com/2PC/PC/PC20210912.html */
.content-table {
    border-collapse: collapse;
    /* margin: 25px auto; */
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  .content-table thead tr {
    background: #005498;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
  }
  .content-table th,
  .content-table td {
    padding: 12px 15px;
    background: none;
  }
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
    transition: 0.8s all ease;
  }
  .content-table tbody tr:nth-of-type(even) {
    background: #f3f3f3;
  }
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #005498;
  }
  .content-table tbody tr:hover {
    font-weight: bold;
    color: #005498;
  }

  .kakuteiBtn{
    padding: 0.8em 3em;
    border-radius: 60px;
    cursor: pointer;
  }
  .kakuteiBtn:active {
    box-shadow: none;
    transform: translateY(5px);
  }

  .canselBtn{
    padding: 0.8em 3em;
    border-radius: 60px;
    cursor: pointer;
  }
  .canseeBtn:active {
    box-shadow: none;
    transform: translateY(5px);
  }

#content-table{
  margin: 0 auto;
}
#shiai1,#shiai2,#shiai3,#shiai4,#shiai5,#shiai6,#shiai7,#shiai8,#shiai9,#shiai10,#shiai11,#shiai12{
  display: flex;
  flex-direction: column;
  align-items: center;
}